/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define SYMBOL 1

&lt { quick_tap_ms = <220>; };

&mt {
    flavor = "tap-preferred";
    tapping-term-ms = <220>;
    retro-tap;
    quick-tap-ms = <50>;
};

/ {
};

// Keymaps!

/ {
    behaviors {
        tdhrm: tdhrm {
            compatible = "zmk,behavior-tap-dance";
            label = "TDHRM";
            #binding-cells = <0>;
            bindings = <&kp EQUAL>, <&tog 1>;
        };
    };

    combos {
        compatible = "zmk,combos";

        Escape {
            bindings = <&kp ESCAPE>;
            key-positions = <13 14>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        DEFAULT {
            // --------------------------------------------------------------
            //| LGUI/] |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | RGUI/[ | 
            //| CTRL/` |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  | CTRL/' |
            //| LALT/\ |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | RALT/- |
            //                             | RSE | SPC | LWR |   | LWR | BKSP | RSE |

            bindings = <
&kp GRAVE  &kp Q  &kp W  &kp E         &kp R               &kp T               &kp Y        &kp U           &kp I           &kp O    &kp P     &kp BACKSPACE
&kp LCTRL  &kp A  &kp S  &kp D         &kp F               &kp G               &kp H        &kp J           &kp K           &kp L    &kp SEMI  &kp ENTER
&kp LSHFT  &kp Z  &kp X  &kp C         &kp V               &kp B               &kp N        &kp M           &kp COMMA       &kp DOT  &kp FSLH  &kp RSHIFT
                         &mt LALT TAB  &mt LGUI BACKSPACE  &lt SYMBOL SPACE    &lt 2 ENTER  &mt RSHFT BSPC  &lt SYMBOL DEL
            >;
        };

        SYMBOL {
            bindings = <
&kp ESCAPE  &kp DOLLAR   &kp EXCLAMATION  &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp PIPE        &kp AMPERSAND  &kp NUMBER_7  &kp NUMBER_8  &kp N9        &kp BACKSLASH  &trans
&trans      &kp PERCENT  &kp AT_SIGN      &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp PLUS        &kp MINUS      &kp NUMBER_4  &kp N5        &kp NUMBER_6  &trans         &trans
&trans      &kp CARET    &kp HASH         &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp ASTERISK    &kp SLASH      &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans         &trans
                                          &trans                &trans                 &trans          &trans         &trans        &kp N0
            >;
        };

        NAVIGATION {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &kp C_MUTE    &kp K_PLAY_PAUSE  &trans    &trans        &trans    &trans     &trans
&trans  &trans  &trans  &trans  &trans  &trans        &trans            &kp LEFT  &kp UP_ARROW  &kp DOWN  &kp RIGHT  &trans
&trans  &trans  &trans  &trans  &trans  &trans        &trans            &trans    &trans        &trans    &trans     &trans
                        &trans  &trans  &trans        &trans            &trans    &trans
            >;
        };
    };
};
